<suiteConfig>
  <ApplicationUnderTest>
    <AddAssembly>dotnet\Zunzun.Specs.dll</AddAssembly>
    <AddNamespace>fitlibrary</AddNamespace>
    <AddNamespace>system</AddNamespace>
    <AddNamespace>Zunzun.Specs.Fixtures</AddNamespace>
    <AddNamespace>Zunzun.Specs.Helpers</AddNamespace>
  </ApplicationUnderTest>
  <fitSharp.Fit.Application.FileExclusions>
    <Add>^\.svn$</Add>
  </fitSharp.Fit.Application.FileExclusions>
</suiteConfig>
